body{
	background: linear-gradient(#00173d,black) fixed;
	text-align:center;
}

div{
	padding-top: 5px;
	padding-bottom: 10px;
}

.myhead {
	color: white;
}

input:hover{
	opacity: 0.8;
}

input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.wrapper {
	text-align: center;
}

.wrapper div {
	display: inline-block;
}
